[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
rrcf = "*"
keras = "*"
opencv-python = "*"
tqdm = "*"
tensorflow = "*"
shap = "*"
scikit-image = "*"
gym = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
